<%-include("partials/header",{isLoggedIn:isLoggedIn,userName:userName})-%>
<div class="container mt-2 py-5">
    <h2 style="text-align:center">About Us</h2>
    <p>A rapidly growing community of fellow coders to provide you a warm, formative experience.
        CODEX is a social platform that aims to build an open community of students & working professionals.
        <br>
        It helps coders to solve their queries and feature their articles, mainly on Data stuctures and algorithm as well as any kind of development.
        Sign up today and get access to our free featured articles.
    </p>
</div>
<%-include("partials/footer")-%>
