<%-include("partials/header",{isLoggedIn:isLoggedIn,userName:userName})-%>
<div class="container mt-5 py-5 about-container">
    <h2 style="text-align:center">About Us</h2>
    <p><%=content%></p>
</div>
<%-include("partials/footer")-%>
