<%-include("partials/header",{isLoggedIn:isLoggedIn,userName:userName})-%>


<div class="container">
  <h1 class="form-header">Register</h1>
  <form method="post" action="/users/register">
    <div class="form-group">
      <label for="username">Username</label>
      <input name="username" type="text" class="form-control" id="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <p class="info-text">
      Password must be 8-12 characters long. Password can include lower or upper case english alphabet and digits.Only @ _ allowed as special characters.
    </p>
    <div class="form-group">
      <label for="password">Password</label>
      <input name="password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <br></br>
    <div  class="form-group form-button">
      <button type="submit" class="btn btn-primary loginRegisterButton">REGISTER</button>
    </div>
  </form>
</div>
<%-include("partials/footer")-%>







