body{
  
  font-family: "Montserrat";
  background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
}

.navbar-brand{
  padding-top: 20px;
}


.card{
  margin-top: 40px;
  background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% );
  border: none;
}

.card-body{
  
  padding: 18px;
  /* background-color: rgba(245,116,185,1); */
  border: 1px solid white;
  border-radius: 10px;
}
.card-text{
  font-size: 1.5 rem;
  text-align: center;
  color: #FAFAFB;
}
.card-title{
  color: #FAFAFB;
  text-align: center;
}
.bottom-container{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.button{
  background: none;
  /* background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% ); */
}



.about-container > h1{
  font-size: 5rem;
}
.about-container > p{
  font-size: 1.6rem;
  line-height: 2.1;
}

.form-group{
  height:100px;
  position: relative;
}
.form-group > label{
  font-size: 2.5rem;
}
.form-group > input{
  height:30px;
  width:100%;
}
.loginRegisterButton{
  width:100px;
}
#post-content{
  font-size: 1.5rem;
    line-height: 2.1;
}


.delete-edit-buttons{
  text-align: right;
  font-size: 1 rem;
}


.header-container{
  display: flex;
  justify-content: center;
}

/* ###################################################### */
.navigation {
  margin-top: 25px;
  font-family: var(--font1);
  /* height: 74px;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: black;
}

.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}

.content {
  height: 100%;
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;
}

.content::after {
  content: "";
  background-image: url("../img/11.svg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}
.content-left > span{
  font-size: 1.5rem;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 355px;
  
  border-radius: 2%;
}

.home-articles {
  padding: 18px;
  background-color: rgb(248, 239, 239, 0.5);
  margin-top: 23px;
  position: relative;
}

.year-box {
  position: absolute;  
  right: 0px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}

.year-box div {
  margin: 12px 0px;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}
/* .home-articles{} */
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

.footer a {
  color: white;
}


.content-left-heading{
  background-color: whit1e;
}
.blink {
  animation: blinker 1.5s linear infinite;
  color: whitesmoke;
  font-family: sans-serif;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}
@keyframes spin {
  from{
  transform: rotateY(0deg);
  moz-transform: rotateY(0deg); 
  ms-transform: rotateY(0deg); 
  }
  to{
  transform: rotateY(360deg);
  moz-transform: rotateY(360deg); 
  ms-transform: rotateY(360deg); 
  }
 }
 @-webkit-keyframes spin{
  from{-webkit-transform: rotateY(0deg);}
  to{-webkit-transform: rotateY(360deg);}
 }
 .imageSpin{
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  -webkit-animation-name: spin;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  height: 80px;
  width: 350px;
 }
.input-group{
  display: flex;
  justify-content: right;
}



/* ############################################### */
@media screen and  ( max-width: 992px){
  .imageSpin{
      height: 250px;
      width: 250px;
      margin-left: 4px;;
  }
  .content-left{
    padding: 20px;
  }
  .content-left > h1{
    font-size: 2rem;
  }
  .content-left > span{
    font-size: 1.1rem;
  }
}
 @media screen and (max-width: 768px){
  .imageSpin{
      height: 100px;
      width: 200px;
      margin-left: 4px;
  }
  .content-left{
    padding: 12px;
  }
  .content-left > h1{
    font-size: 2rem;
  }
  .content-left > span{
    font-size: 16px;
  }
}
@media screen and (max-width: 470px){
  .imageSpin{
      height: 80px;
      width: 150px;
      margin-left: 3px;
  }
  .content-left{
    padding: 10px;
  }
  .content-left > h1{
    font-size: 2rem;
  }
  .content-left > span{
    font-size: 12 px;
  }
}
@media screen and (max-width: 400px){
  .imageSpin{
      height: 80px;
      width: 120px;
      margin-left: 2px;
  }
  .content-left{
    padding: 8px;
  }
  .content-left > h1{
    font-size: 2rem;
  }
  .content-left > span{
    font-size: 12 px;
  }
}
@media screen and (max-width: 350px){
  .imageSpin{
      height: 80px;
      width: 100px;
      margin-left: 1px;
  }
  .content-left{
    padding: 6px;
  }
  .content-left > h1{
    font-size: 1.8rem;
  }
  .content-left > span{
    font-size: 10 px;
  }
}
@media screen and (max-width: 300px){
  .imageSpin{
      height: 50px;
      width: 60px;
      margin-left: 1px;
  }
  .content-left{
    padding: 6px;
  }
  .content-left > h1{
    font-size: 1.7rem;
  }
  .content-left > span{
    font-size: 8 px;
  }
  .form-outline{
    width: 170px;
    margin-right: 8px;
  }
  .post-card-text{
    font-size: 1.2rem;
  }
}

/*
@media screen and ((min-width:412px) and (max-width:500px)) {
  .imageSpin{
    height: 150px;
    width: 150px;
  }
}
@media screen and ((min-width:360px) and(max-width:412px)) {
  .imageSpin{
    height: 80px;
    width: 100px;
  }
}
@media screen and (max-width:360px) {
  .imageSpin{
    height: 80px;
    width: 80px;
  }
  .content-left{
    padding: 10px;
  }
  .content-left > h1{
    font-size: 2rem;
  }
  .content-left > span{
    font-size: 1rem;
  }
}
@media screen and (max-width:360px) {
  .imageSpin{
    height: 80px;
    width: 80px;
  }
  .content-left{
    padding: 10px;
  }
  .content-left > h1{
    font-size: 2rem;
  }
  .content-left > span{
    font-size: 1rem;
  }
} */


